<%include header.ejs%>

<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Quizing</h1>
        <p class="lead">Welcome to Quizing. One place for best Quizes.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/test/getTest" role="button">Take Quiz</a>
      </div>
</div>

<%include footer.ejs%>