<% include header.ejs%>

<div class="container">
  <div class="d-none alert alert-danger" style="max-width: 600px;margin: 0 auto;text-align: center;" role="alert" id="errorDiv"></div>
  <div style="max-width: 600px;margin: 50px auto;" class="bg-white p-5">
    <h2 class="text-center">Sign Up</h2>
    <form action="/user/register" method="post" id="registerForm">
      <div class="form-group" >
        <input type="text" name="name" required class="form-control" placeholder="Name"><br>
        <input type="email" name="email" class="form-control" required placeholder="Email "><br>
        <input type="password" name="password" class="form-control" required placeholder="Password"><br>
        <input type="password" name="cpassword" class="form-control" placeholder="Confirm Password" required><br>
        <input type="number" size="10" name="mobile" placeholder="Mobile No." class="form-control" required><br>
        <input type="text" name="address" class="form-control" placeholder="Address" required><br>
        <button type="button" id="btnRegister" class="btn btn-dark form-control">Sign Up</button><br>
        <a href="/user/login" style="color: black;" class="text-center">Already Registered?</a>
      </div>
    </form>
  </div>
</div>
<% include footer.ejs%>
